.celebrity-action.fas {
    padding: 5px;
}
#login-form .input-group{
margin: 5px;
}
button#add_celebrity {
    margin-left: 285px;
}
div#image_preview {
    height: 20px;
}
.pagination_btn{
    margin: 8px;
}